body, html {
  font-family: 'Nunito', serif;
  background-color: #f7f9fc;
  color: #333;
  height: 100%;
  display: flex; /* Make the body a flex container */
  flex-direction: column; /* Make the body a column flex container */
}



nav {
  background-color: #007bff;
  padding: 16px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
}

nav a:hover, nav a:active {
  background-color: #0056b3;
}

header {
  background-color: #e3f2fd;
  text-align: center;
  padding: 64px 32px;
}

h1 {
  font-size: 40px;
  color: #007bff;
}

.hero-section p {
  font-size: 19.2px;
  color: #555;
  margin: 16px 0;
}

.hero-btn {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 12.8px 24px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.hero-btn:hover {
  background-color: #0056b3;
}
.hero-btn:active {
  background-color: #004c9b;
}

.features {
  padding: 32px;
  background-color: white;
  flex-grow: 1;
}

.features h2 {
  font-size: 32px;
  color: #333;
}

.feature-card {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.feature-card h3 {
  color: #007bff;
  margin-bottom: 8px;
}

.feature-card p {
  color: #555;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 16px 0; /* Add some padding */
  margin-top: auto; /* Push the footer to the bottom */
}
